extends ../layouts/common

block content
      h1 List Users
      .d-flex.align-items-center
            a(href="/user/create").btn.btn-success NEW
            form(method="get",action="/user/search" class="col-3 d-flex ml-auto input-group")
                  input(type="search",
                        name="name", 
                        value=name, 
                        class="form-control",
                        placeholder="Search có dấu")
                  div(class="input-group-append")
                        button(type="submit",class="btn btn-secondary btn-outline-secondary") Search

      table.table.table-bordered
            thead
            tr
                  th(scope='col') Name
                  th(scope='col') Phone
                  th(scope='col') Email
                  th(scope='col').text-center Action
            tbody
            each user in users
                  tr
                        td= user.name
                        td= user.phone
                        td= user.email
                        td.text-center
                              a(href="/user/"+user.id).btn.btn-light View